 body {
 	margin: 0;
 	padding: 0;
 }

 body::-webkit-scrollbar {
 	display: none;
 }

 body {
 	-ms-overflow-style: none;
 }

 body::-webkit-scrollbar {
 	display: none;
 }

 .colorline, #welcome {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.5s;
 }

 .colorline, #welcome, #bcg {
 	width: 100vw;
 	height: 100vh;
 	transition: 0.5s;
 }

 #welcome {
 	font-size: 10rem;
 	transition: 0.5s;
 	/* background-color: rgb(255, 255, 255); */
 }

 #welcome .title {
 	z-index: 9;
 	User-select: none;
 	pointer-events: none;
 	width: 100vw;
 	height: 100vh;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	color: white;
 	background-color: black;
 	transition: 0.5s;
 }

 #canvas {
 	position: absolute;
 	width: 100vw;
 	height: 100vh;
 	z-index: 99;
 	transition: 0.5s;
 }

 #bcg {
 	width: 100vw;
 	height: 100vh;
 	position: absolute;
 	display: flex;
 	flex-wrap: wrap;
 	overflow: hidden;
 	z-index: 2;
 	transition: 0.5s;
 }

 #bcg div {
 	width: 12.5vw;
 	height: 12.5vh;
 	font-size: 1rem;
 	display: flex;
 	align-items: center;
 	align-content: center;
 	justify-items: center;
 	justify-content: center;
 	transition: 0.5s;
 }

 canvas {
 	position: absolute;
 	top: 0;
 	left: 0;
 	padding: 0;
 	margin: 0;
 	z-index: 3;
 	pointer-events: none;
 	mix-blend-mode: difference;
 	transition: 0.5s;
 }

 /* 
 header {
 	display: flex;
 	position: fixed;
 	top: 3rem;
 	right: 4rem;
 	z-index: 2;
 }

 header li {
 	color: #fff;
 	padding: 0.5rem;
 	margin-left: 3rem;
 } */
 a {
 	text-decoration: none;
 	height: 100%;
 	width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.5s;
 }

 .btn-right {
 	position: fixed;
 	background-color: red;
 	top: 10px;
 	right: 10px;
 	z-index: 999;

 	width: 100px;
 	height: 40px;
 	background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
 	/* W3C */
 	border: none;
 	border-radius: 5px;
 	border-bottom: 4px solid #2b8bc6;
 	color: #fbfbfb;
 	font-weight: 600;
 	font-family: 'Open Sans', sans-serif;
 	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
 	font-size: 15px;
 	text-align: left;
 	text-indent: 5px;
 	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
 	cursor: pointer;

 	/* Just for presentation */
 	display: block;
 	margin: 0 auto;
 	margin-bottom: 20px;

 }

 button:active {
 	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
 	top: 9px;
 }

 button:after {
 	content: "";
 	width: 0;
 	height: 0;
 	display: block;
 	border-top: 20px solid #187dbc;
 	border-bottom: 20px solid #187dbc;
 	border-left: 16px solid transparent;
 	border-right: 20px solid #187dbc;
 	position: absolute;
 	opacity: 0.6;
 	right: 0;
 	top: 0;
 	border-radius: 0 5px 5px 0;
 }

 /* Button pointing left */

 button.back {
 	text-align: right;
 	padding-right: 12px;
 	box-sizing: border-box;
 }

 button.back:after {
 	content: "";
 	width: 0;
 	height: 0;
 	display: block;
 	border-top: 20px solid #187dbc;
 	border-bottom: 20px solid #187dbc;
 	border-right: 16px solid transparent;
 	border-left: 20px solid #187dbc;
 	position: absolute;
 	opacity: 0.6;
 	left: 0;
 	top: 0;
 	border-radius: 5px 0 0 5px;
 }

 /* Single buttons */

 button.site {
 	width: 40px;
 	text-align: center;
 	text-indent: 0;
 }

 button.site:after {
 	display: none;
 }

 /* Presentation stuff */
 .holder {
 	width: 400px;
 	background: #efefef;
 	padding: 30px 10px;
 	box-sizing: border-box;
 	margin: 0 auto;
 	margin-top: 20px;
 	text-align: center;
 }